* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 0.4em ;
}
a{
    color: white;
    text-decoration: none;
}
img{
    max-width: 100%;
    display:block;
    margin: 0 auto;
}

@media screen and (min-width: 720px){
  .main{
    grid-template-columns: min-content 1fr;
  }
}

@media screen and (min-width: 720px){
    .columna-izquierda{
      grid-template-columns: repeat(3, 1fr);
    }
  }
main{
    padding: 2em;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.columna-izquierda {
  border: 5px; color: white;
  width: 200px;
}
.telefono {
  width: 377px;
  clear: both;
  margin-left: -0px;
  margin-top: 30px;
  background-color: rgb(48, 47, 47);
  padding: 10px;
  border-radius: 0%;
  text-align: center;
}
.email{
  clear: both;
  width: 377px;
  text-align: center;
  margin-left: -0px;
  margin-top: 30px;
  background-color: rgb(48, 47, 47);
  padding: 10px;
  border-radius: 0%;
}
.fecha-de-nacimiento{
  clear: both;
  width: 377px;
  text-align: center;
  margin-left: -0px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgb(48, 47, 47);
  padding: 10px;
  border-radius: 0%;
}
.dni{
  clear: both;
  width: 377px;
  text-align: center;
  margin-left: 0px;
  background-color: rgb(48, 47, 47);
  padding: 10px;
  border-radius: 0%;
}
.direccion{
  clear: both;
  width: 377px;
  margin-top: 30px;
  margin-left: -0px;
  background-color: rgb(48, 47, 47);
  padding: 10px;
  border-radius: 0%;
  text-align: center;
}
.icono-direccion{
width: 20px;
height: auto;
}
.cuadrado{
  background-color: black;
  width: 28%;
  height: 150%;
  position: absolute;
  z-index: -1;
}
.informacion-cuadrado{
  background-color: none;
  width: 70%;
  height: 120%;
  float: right;
  position:absolute
  z-index: -1;
}
.cuadrado-amarillo{
  background-color: rgb(255, 230, 0);
  width: 70%;
  height: 70%;
  float: right;
  position:absolute
  z-index: -1;
}
.primer-titulo{
  font-size: 5em;
  margin-left: 10px;
  margin-top: 50px;
}
.segundo-titulo{
  font-size: 2em;
  margin-left: 10px;
}
.sobre mi{
  margin-top: 40px;
}
.introduccion {
  display: flex;
  margin-left: 5px;
  margin-top: 20px;
}
.division-sobremi{
  margin-left: 5px;
}
.icono-persona{
  margin-left: 15px;
  width: 30px;
  height: auto;
}
.descripcion {
  color: black;
  margin-left: 5px;
}
.Experiencia-laboral{
  margin-top: 20px;
  margin-left: 5px;
}
.icono-experiencia{
  margin-left: 15px;
  width: 30px;
  height: auto;
}
.titulo-laboral {
  display: flex;
}
.conocimientos{
  margin-left: 5px;
  margin-top: 20px;
}
.Titulo {
  display: flex;
}
.icono-conocimientos{
  margin-left: 15px;
  width: 30px;
  height: auto;
}
.Detalle{
  margin-left: 50px;
  columns: 2;
  width: 800px;
  margin-top: 15px;
  text-align: left;
}
.foto-nahuel{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border: 10px solid rgb(48, 47, 47);
  display: block;
  margin-top: 50px;
  border-radius: 20px;
}
.datos-de-perfil{
  margin-top: 20px;
}
.contacto{
  margin-top: 20px;
}
.contenido-contacto{
  margin-left: 20px;
}
.mensaje{
  font-size: 20px;
  margin-left: 20px;
}
.contenido-mensaje{
  margin-left: 30px;
}
.foto-contacto{
  margin-left: 15px;
  width: 30px;
  height: auto;
}
.titulo-foto{
  display: flex;
}